@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#FAFAF9] text-[#171717] font-sans antialiased;
  }
  h1, h2, h3 {
    @apply font-serif;
  }
}
